<div class="row mb-3">
  <div class="col">
    <h2>Capaian Pembelajaran Lulusan (CPL)</h2>
  </div>
  <div class="col text-end">
    <a href="/cpl/daftar/form" class="btn btn-primary">Add New CPL</a>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>No</th>
      <th>Kode CPL</th>
      <th>Deskripsi CPL</th>
      <th>Referensi</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if (cpls && cpls.length > 0) { %> <% cpls.forEach((cpl, index) => { %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= cpl.kode_cpl %></td>
      <td><%= cpl.deskripsi %></td>
      <td><%- cpl.referensi.replace(/\n/g, '<br />') %></td>
      <td>
        <a
          href="/cpl/daftar/edit/<%= cpl.id %>"
          class="btn btn-sm btn-warning me-2"
          >Edit</a
        >
        <a
          href="/cpl/daftar/delete/<%= cpl.id %>"
          class="btn btn-sm btn-danger"
          onclick="return confirm('Are you sure you want to delete this CPL?')"
          >Delete</a
        >
      </td>
    </tr>
    <% }) %> <% } else { %>
    <tr>
      <td colspan="5" class="text-center">No CPLs available</td>
    </tr>
    <% } %>
  </tbody>
</table>

<%- contentFor('title') %> CPL
