<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Curriculum App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path && path.startsWith('/pl') ? 'active' : '' %>"
            href="/pl"
          >
            PL
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path && path.startsWith('/cpl') ? 'active' : '' %>"
            href="/cpl"
          >
            CPL
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path && path.startsWith('/bk') ? 'active' : '' %>"
            href="/bk"
          >
            BK
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path && path.startsWith('/cpl-pl-mapping') ? 'active' : '' %>"
            href="/cpl-pl-mapping"
          >
            CPL-PL Mapping
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path && path.startsWith('/bk-cpl-mapping') ? 'active' : '' %>"
            href="/bk-cpl-mapping"
          >
            BK-CPL Mapping
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
