<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Curriculum App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path === '/pl' || (path && path.startsWith('/pl/')) ? 'active' : '' %>"
            href="/pl"
          >
            PL
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path === '/cpl' || (path && path.startsWith('/cpl/')) ? 'active' : '' %>"
            href="/cpl"
          >
            CPL
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path === '/bk' || (path && path.startsWith('/bk/')) ? 'active' : '' %>"
            href="/bk"
          >
            BK
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle <%= path === '/mk' || (path && path.startsWith('/mk/')) ? 'active' : '' %>"
            href="#"
            id="mkDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            MK
          </a>
          <ul class="dropdown-menu" aria-labelledby="mkDropdown">
            <li><a class="dropdown-item" href="/mk">Daftar MK</a></li>
            <li>
              <a class="dropdown-item" href="/mk/visualization"
                >Visualisasi MK</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle <%= path === '/cpl-pl-mapping' || path === '/bk-cpl-mapping' || path === '/mk-bk-mapping' || path === '/mk-cpl-mapping' || path === '/bk-cpl-mk-mapping' || path === '/cpl-semester-mk-mapping' ? 'active' : '' %>"
            href="#"
            id="mappingDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Mapping
          </a>
          <ul class="dropdown-menu" aria-labelledby="mappingDropdown">
            <li>
              <a class="dropdown-item" href="/cpl-pl-mapping"> CPL-PL </a>
            </li>
            <li>
              <a class="dropdown-item" href="/bk-cpl-mapping"> BK-CPL </a>
            </li>
            <li>
              <a class="dropdown-item" href="/mk-bk-mapping"> MK-BK </a>
            </li>
            <li>
              <a class="dropdown-item" href="/mk-cpl-mapping"> MK-CPL </a>
            </li>
            <li>
              <a class="dropdown-item" href="/bk-cpl-mk-mapping"> BK-CPL-MK </a>
            </li>
            <li>
              <a class="dropdown-item" href="/cpl-semester-mk-mapping">
                CPL-Semester-MK
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
